/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* BODY */
body {
  background-color: #FCFCFC;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 90%;
}

/* Image carousel */
.carousel {
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0.5rem;
    height: 388px;
}

.button-collapse {
  color: #00fceb;
}

.carousel-slide{
  width: auto;
  height: auto;
}

.carousel-inner{
  width: auto;
  height: auto;
}


.hostel-collection {
  border-radius: 5px;
}

.about-us {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

.about-us h4 {
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}

.about-us p {
  font-family: 'Roboto', sans-serif;
}

.collection a.collection-item {
  color: rgba(0,0,0,0.7);
}

.notifications-hostel h4 {
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

nav ul a:hover, nav ul a:focus {
  color: #fff;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
nav ul {
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 2rem;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{

  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}





/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


section h4 {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
}

.custom_hr {
  margin-top: 0;
  width: 50%;
}

.icon-block h5 {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 26px;
}

.brown-text {
  color: #FE586B !important;
}

/* Contacts*/
.container .warden-contact{
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.container .hec-contact{
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

img.contacts{
  padding-right: 0px;
  height: 150px;
  border-radius: 50%;
}
figcaption.figc{
  text-align: left;
}

#notification{
    float:left;
    width:505px;
    overflow-y: auto;
    height: 400px;
}

.mess-info{
  width: 300px;
  overflow-y: auto;
  height: 180px;
  margin: 0 auto;
}
.footer-line {
  padding-bottom: 1%;
    text-align: center;
}
.footer-first-tab img {
  margin: 0 auto;
    display: table;
}

.footer-first-tab p {
  text-align: center;
}

/*responsive */

#Responsive-logo{
  display: hidden;
  width:48px;
  height: 48px;
  background-size: 37px;
}
@media screen and (max-width: 786px){
  *{
    margin : 0;
  }
  #Responsive-logo{
    display: inline-block;
    background:rgb(40,50,60);
    border: 1px solid grey;
    border-radius:5px;
  }
  nav ul, nav:active ul{
    display:none;
    position: absolute;
    z-index: 1000;
    padding:10px;
    background:#191929;
    right:25px;
    top:30px;
    border:2px solid #F0F0F0;
    border-radius: 8px 8px 8px 8px;
    width:43%;
    opacity: 0.92;
  }
	nav:hover ul{
		display: block;
	}
	nav li{
		text-align: center;
		width: 100%;
		padding: 10px 0;
	}

	nav li a{
		text-align: center;
		display: inline-block;
	}
	.hostel-collection, .slide, .about_us, .notifications-hostel, .hec-contact, .mess-info,
	 .icon-block, .two , .warden-contact , .w-contacts{
		width: 100%;
	}
} 

